@import "nullStyle.scss";
$maxWidth: 1300;
@import "adaptivTextStyle.scss";

body {
	width: 100%;
	font: 93.25% Arial,Helvetica,'Helvetica Neue',sans-serif;

	box-sizing: border-box;
}

.outside-container {
	width: 1263px;
	margin: 0 auto;
	display: flex;
}

.inside-container {
	width: 941px;
	margin: 0 auto;
}

.column-left {
	width: 1051px;
}

.column-right {
	width: 212px;
}

.header {
	height: 47px;
	display: flex;
	justify-content: space-between;

	&__date-place {
		display: flex;
		align-items: baseline;
		font-size: .93em;

		.place {
			line-height: 42px;
			font-weight: bold;
			padding-left: 10px;

			&__logo {
				display: inline-block;
				transform: rotate(-45deg);
				width: 14px;
				height: 14px;
				margin-right: 12px;
			}
		}
	}
	&__place {
		padding-right: 16px;
	}

	&__link {
		width: 63px;
		padding: 8px 0 0 12px;

		&-market-img {
			width: 27px;
		}
		&-notice-img {
			padding-left: 12px;
			height: 24px;
			width: 20px;
		}
	}
}

._wrapper-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);


	._grid-news {
		grid-column-start: 1;
    	grid-column-end: 3;
    	grid-row-start: 1;
    	grid-row-end: 3;
	}

	._grid-traffic {
		grid-column-start: 3;
    	grid-column-end: 4;
    	grid-row-start: 2;
    	grid-row-end: 3;
	}
}

.info {
	.news {
		padding-left: 20px;

		&__title-block {
			margin-bottom: 10px;
		}
		&__title {
			padding-right: 12px;
		}
		
		&__main {
			margin-left: 1px;
		}
		&__headline-logo {
			width: 14px;
			height: 14px;
			margin-right: 8px;
		}
		&__headline-text {

		}
		&__headline {
			display: flex;
			margin-bottom: 10px;
		}

		.currency {
			display: flex;

			&__item {
				padding: 0 12px 9px 0;
				line-height: 1.25;
			}

			&__name {
				margin-right: 4px;
			}

			&__percent {
				margin: -2px 0px -2px 5px;
				padding: 3px 0;

			}
		}
	}

	.weather {
		padding-left: 20px;
		&__title {
			margin: 0px 8px 0 0;
		}

		&__subtitle {
			margin: 0 8px 0 4px;
		}

		&__inform {
			display: flex;
		}

		&__middle-weather {
			margin-right: 10px;
		}

		&__main {
			display: flex;

			.weather__inDay {
				margin-right: 7px;
				&-title {
					margin-bottom: 3px;
				    font-size: 9px;
				    text-align: center;
				}

				&-image {
					margin: 3px 0 0 7px;
				}
			}
		}
	}

	.traffic {
		padding-left: 20px;
		.traffic__title {
			margin-right: 8px;
		}
		&__subtitle {
			margin: 0 8px 0 4px;
		}

		&__inform {
			display: flex;
			align-items: center;
		}

		&__text {
			line-height: 1.25;
		}

		&__middle-traffic {
			padding-right: 16px;
		}

		&__image {
			margin-right: 12px;
		}

		&__inDay {
			line-height: 1.25;  
		}
	}

	._block-title {
		line-height: 1.25;
		margin-bottom: 8px;
	}
}

._text-color-gray {
	color: #90919d;
}

._text-color-red {
	color: #d04d4d;
}

._margin-top {
	margin-top: 5px;
}

._main-title {
	color: #0054b9;
	font-size: 123%;
	font-weight: 600;
}
._color-midle-title {
	color: #6da2e1;
}
._last-title {
	color: #ee7b00;
}

._color-link-black {
	color: #000;
}

._big-image-weather {
	width: 42px;
	height: 33px;
}
._big-image-lights {
	width: 36px;
	height: 33px;
}

._mini-image {
	width: 17px;
	height: 13px;
}

._big-text {
	font-size: 26px;
}

._mini-text {
	font-size: 12px;
}