@import "nullStyle.less";


body {
	width: 100%;
	font: 93.25% Arial,Helvetica,'Helvetica Neue',sans-serif;

	box-sizing: border-box;
}

@import "container.less";

@import "column.less";

@import "header.less";



.main {
	padding-left: 20px;
}



.info {
	@import "news.less";

	

	
	._block-title {
		line-height: 1.25;
		margin-bottom: 8px;
	}
}

@import "apps.less";

@import "search-field.less";

@import "card.less";

@import "card-fon.less";

.entry-button {
	display: block;
	width: 100%;
	text-align: center;
	position: relative;
	background: #f0f0f0;
	padding: 12px 0;
	font-size: 1.08em;
	border-radius: 7px;
	transition:.15s ease-out;
	font-weight: 500;
	color: #000;

	&__image {
		position: absolute;
		left: 8px;
		bottom: 7px;
	}

	&:hover {
		background: #E1E1E1;
	}
}

.cart-button {
	padding: 10px 10px 5px 10px;
	display: flex;
	align-items: center;
	font-size: 92.31%;
	color: #000;
	&__image {
		margin: 0 5px 0 5px
	}
}

.content {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	margin: 30px 0 0 0;
	padding: 0 20px 0;
	&__ad {
		flex: 6 1 auto;
		margin-right: 11px;
	}
	&__zen {
		flex: 1 1 auto;
	}
}

.zen {
	padding: 16px 20px;
	&__logo {
		width: 69px;
		height: 22px;
	}
	&__text {
		padding: 16px 0 8px 0;
		font-size: 13px;
	    line-height: 16px;
	    color: rgba(0,0,0,.5);
	    font-weight: 500;
	}

	&__list {
		&-item {
			padding: 15px 0;
			font-size: 14px;
   			line-height: 18px;
   			position: relative;
   			padding-left: 40px;
   			&:before {
   				content: '';
   				background: url('../img/zen-list.png') center / contain no-repeat;
   				display: block;
			    width: 24px;
			    height: 24px;
			    position: absolute;
			    top: 12.5px;
			    left: 0;
			    z-index: 2;
   			}

   			&:after {
   				content: '';
   				background: url('../img/zen-list-red.png') center / contain no-repeat;
   				display: block;
			    width: 24px;
			    height: 24px;
			    position: absolute;
			    top: 12.5px;
			    left: 0;
			    z-index: -1;
   			}

   			&:hover:after {
   				z-index: 3;
   			}
		}
	}
}


._content-sidebar-framing {
	border-radius: 18px;
    background: #fff;
    box-shadow: 0 2px 8px rgb(18 17 36 / 4%), 0 4px 32px rgb(18 17 36 / 8%);
}

._diz-margin {
	padding: 2px;
}


._transform-cart:hover {
	transform: translateX(-20px);
}

._entry-m {
	margin-bottom: 6px;
}

::-webkit-input-placeholder {
    color: #B3B1B1;
}

._filter-img:hover {
	filter: brightness(85%);
} 
._tr-header {
	transition: .2s;
}

._apps-margin {
	margin: 12px 0 20px 0;
}

._mt-tv-logo {
	margin-top: 8px
}
._text-mt-app {
	margin-top: 4px;
}

._text-color-gray {
	color: #90919d;
}

._text-color-red {
	color: #d04d4d;
}

._margin-top {
	margin-top: 5px;
}

._main-title {
	color: #0054b9;
	font-size: 123%;
	font-weight: 600;
}
._color-midle-title {
	color: #6da2e1;
}
._last-title {
	color: #ee7b00;
}

._color-link-black {
	color: #000;
}

._big-image-weather {
	width: 42px;
	height: 33px;
}
._big-image-lights {
	width: 36px;
	height: 33px;
}

._mini-image {
	width: 17px;
	height: 13px;
}

._big-text {
	font-size: 26px;
}

._mini-text {
	font-size: 12px;
}

._link-style:hover {
	cursor: pointer;
	color: #c00;
	transition: .2s;
}
.app:hover ._link-app {
	transform: translateY(-5px);
}

._card-opacity {
	opacity: .7;
}
